:host{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-nav .nav-item {
  margin-right: 20px; 
}

.nav-item-content {
  display: flex;
  align-items: center;
}

.nav-item-content mat-icon {
  margin-right: 5px; 
}
.logo{
  width: 40px;
  height: 40px;
  mix-blend-mode: hard-light;
  
}