<!-- report-user-dialog.component.html -->

<h1 mat-dialog-title class="mat-title">Create Report</h1>
<div mat-dialog-content class="report-dialog-content">

  <textarea [(ngModel)]="reportDetails" class="mat-input" placeholder="Enter details for reporting the user..."></textarea>
</div>
<div mat-dialog-actions class="report-dialog-actions">
  <button mat-button (click)="closeDialog()" class="mat-flat-button">Cancel</button>
  <button mat-button color="warn" class="mat-button" (click)="report()" [disabled]="!reportDetails">Report</button>
</div>
