
<div class="user-profile">
  <div class="container text-center loading-container">
    <mat-progress-spinner *ngIf="loading" mode="indeterminate"></mat-progress-spinner>
  </div>
  <input #coverPic (change)="changeCover($event)" type="file" hidden accept="image/*">

  <div (click)="openCoverChange(coverPic)" class="cover-photo" [style.background-image]="'url(' + user?.coverPicture + ')'" *ngIf="user?.coverPicture && isCurrentUser" matTooltip="Change Cover Photo"></div>
  <div (click)="openCoverChange(coverPic)" class="cover-photo" [style.background-image]="'url(' + user?.coverPicture + ')'" *ngIf="user?.coverPicture && !isCurrentUser" ></div>
  
  <div class="profile-section">
    

    <input #profilePic (change)="changeProfile($event)" type="file" hidden accept="image/*">
    <img *ngIf="isCurrentUser" [src]="user?.profilePicture" alt="Profile Photo" (click)="openProfileChange(profilePic)" class="profile-picture" matTooltip="Change Profile Photo">
    <img *ngIf="!isCurrentUser" [src]="user?.profilePicture" alt="Profile Photo" (click)="openProfileChange(profilePic)" class="profile-picture">
    <div class="user-details">
      <div class="user-header">
        <h2>{{ user?.fullName }}</h2>
  
        <button *ngIf="isCurrentUser" class="edit-profile-button" (click)="editProfile()">Edit Profile</button>
        <button class="followButton" mat-raised-button type="button" color="warn" *ngIf="!isCurrentUser && isFollowingUser" (click)="unfollowUser(user?._id)">Unfollow</button>
        <button class="followButton" mat-raised-button type="button" color="primary" *ngIf="!isCurrentUser && !isFollowingUser" (click)="followUser(user?._id)">Follow</button>
        <button *ngIf="!isCurrentUser && isFollowingUser" mat-raised-button type="button" color="primary" class="edit-profile-button" (click)="Message(user?._id)">Message</button>
        <!-- <button  mat-raised-button type="button" color="accent" class="edit-profile-button" (click)="share(user?._id)">Share</button> -->
        <a *ngIf="isCurrentUser" mat-raised-button type="button" class="edit-profile-button" color="accent" [href]="share(user?._id)" data-action="share/whatsapp/share" target="_blank"><mat-icon>share</mat-icon>Share via WhatsApp</a>
        <button *ngIf="!isCurrentUser" type="button" mat-raised-button color="accent" class="edit-profile-button"  (click)="reportUser(user?._id)">Report User</button>
      </div>
      <p class="username">@{{ user?.userName }}</p>
      <p class="bio">{{ user?.bio }}</p>
    </div>
  </div>
  

  <div class="tabs-section">
    <ul class="tabs">
      <li [class.active]="activeTab === 'posts'" (click)="setActiveTab('posts')">Posts</li>
      <li [class.active]="activeTab === 'followers'" (click)="setActiveTab('followers')">Followers</li>
      <li [class.active]="activeTab === 'following'" (click)="setActiveTab('following')">Following</li>
      <li *ngIf="isCurrentUser" [class.active]="activeTab === 'Saved'" (click)="setActiveTab('Saved')">Saved Posts</li>
    </ul>
  
    <div class="tab-content" *ngIf="activeTab === 'posts'">
  <div *ngIf="posts && posts.length > 0; else noPosts" class="post-content">
    <div class="post-grid">
      <div *ngFor="let post of posts" class="post">
        <img [src]="post?.image" alt="Post Image" (click)="openPost(post)" class="post-image">
      </div>
    </div>
  </div>
  <ng-template #noPosts>
    <h1>No posts available.</h1>
  </ng-template>
</div>

    
  
<div class="tab-content" *ngIf="activeTab === 'followers'">
  <div *ngIf="user?.followers && user.followers.length > 0; else noFollowers" class="followers-content">
   
      <div *ngFor="let follower of user.followers">
        <div class="follower-item">
          <img [src]="follower.profilePicture" alt="Follower Profile Picture" class="follower-picture">
          <div class="follower-details">
            <h3>{{ follower.fullName }}</h3>
          </div>
          <h3 style="cursor: pointer;" [routerLink]="['/profile', follower._id]">@{{ follower.userName }}</h3>
        </div>
      </div>
    
  </div>
  <ng-template #noFollowers>
    <h1>No followers yet.</h1>
  </ng-template>
</div>

<div class="tab-content" *ngIf="activeTab === 'following'">
  <div *ngIf="user?.following && user.following.length > 0; else noFollowing" class="following-content">
    
      <div *ngFor="let followedUser of user.following">
        <div class="following-item">
          <img [src]="followedUser.profilePicture" alt="Following Profile Picture" class="following-picture">
          <div class="following-details">
            <h3>{{ followedUser.fullName }}</h3>
          </div>
          <h3 style="cursor: pointer;" [routerLink]="['/profile', followedUser._id]">@{{ followedUser.userName }}</h3>
        </div>
      </div>
    
  </div>
  <ng-template #noFollowing>
    <h1>Not following anyone yet.</h1>
  </ng-template>
</div>
  
<div class="tab-content" *ngIf="activeTab === 'Saved'">
  <div *ngIf="user?.saved && user.saved.length > 0; else noSaved" class="post-content">
    <div class="post-grid">
      <div *ngFor="let post of user.saved" class="post">
        <img [src]="post?.image" alt="Post Image" (click)="openPost(post)" class="post-image">
      </div>
    </div>
  </div>
  <ng-template #noSaved>
    <h1>No Saved Posts Available.</h1>
  </ng-template>
</div>
    
  </div>
</div>
