<div class="container">
  <div class="row pt-4 justify-content-between">
    
    <div class="col-sm-12 col-md-4 col-lg-3">
      <div class="box bg-light rounded p-1">
        <app-mini-profile></app-mini-profile>
      </div>
    </div>

    <div class="col-sm-12 col-md-8 col-lg-6">
      <div class=" p-1 mb-3 rounded">
        <app-post *ngFor="let post of posts" [post]="post"></app-post>
      </div>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-3">
      <!-- <div class="box bg-light p-3 mb-3 rounded">
        <h4>Friend Suggestions</h4>
      </div> -->
    </div>
  
  </div>
</div>
