<div class="container-fluid">
  <mat-card style="min-height: 500px;">
    <mat-card-header>
      <h1>Admin Dashboard</h1>
    </mat-card-header>
  
    <mat-card-content class="horizontal-cards my-5">

      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Total Users</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          
          <h3>{{ totalUsersCount }}</h3>
        </mat-card-content>
      </mat-card>

      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Total Posts</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <h3>{{ totalPostsCount }}</h3>
        </mat-card-content>
      </mat-card>
  
    </mat-card-content>

    <mat-card-content>
      <app-usergraph></app-usergraph>
    </mat-card-content>
  
  </mat-card>
</div>
