<div class="container">
  <div class="user-list">
    <div class="search-box">
      
      <h1>My Chats</h1>
    </div>
    <div class="container text-center loading-container">
      <mat-progress-spinner *ngIf="loading" mode="indeterminate"></mat-progress-spinner>
    </div>
    
    <ul>
      <ng-container *ngIf="chats.length > 0; else noUsers">
        <li *ngFor="let chat of chats" (click)="selectUser(chat)" [class.active]="selectedUser === chat">
          <img [src]="chat.users[0].profilePicture" alt="{{ chat.users[0].userName }}">
          <h3>@{{ chat.users[0].userName }}</h3>
          <div class="user-info">
            <span class="status" [ngClass]="{'online': chat.users[0].isOnline, 'offline': !chat.users[0].isOnline}">
              {{ chat.users[0].isOnline ? 'Online' : 'Offline' }}
            </span>
          </div>
        </li>
      </ng-container>
      <ng-template #noUsers>
        <h2>No users available</h2>
      </ng-template>
    </ul>
    
  </div>
  
  <div class="chat" *ngIf="selectedUser">
    <div class="selected-user">
      <span class="name">@{{ selectedUser?.users[0]?.userName }}</span>
      <button class="btn btn-primary" (click)="startVideoCall()">Start Video Call</button>
    </div>
    
    <ul class="chat-box" #chatBox>
      <li *ngFor="let message of messages" [ngClass]="{ 'sent': message.sender._id === currentUser._id }">
        <div class="message">
          <img [src]="message.sender.profilePicture" alt="{{ message.sender.userName }}">
          <div class="message-content">
            <h6>{{message.sender.userName}}</h6>
            <img *ngIf="message.image" [src]="message.image" (click)="openImageModal(message.image)" alt="User Profile" class="chat-image">
            <p *ngIf="message.text">{{ message.text }}</p>
            <div *ngIf="message.postId">
              <p>A Post Has been shared</p>
              <button class="btn btn-dark" (click)="ViewPost(message.postId)">View Post</button>
            </div>
            <div style="display: flex; align-items: center; justify-content: space-between;">
              <div><span class="time m-2">{{ message.createdAt | date:'h:mm a' }}</span></div>
              <span *ngIf="message.sender._id === currentUser._id">
                <mat-icon *ngIf="!message.read" matTooltip="unread" style="font-size: 20px;">check_circle_outline</mat-icon>
                <mat-icon *ngIf="message.read" matTooltip="read" style="font-size: 20px;">check_circle</mat-icon>
              </span>
            </div>
            
            
            
          </div>
        </div>
      </li>
    </ul>
    
    <div class="message-input">
      <div class="input-container">
        <textarea matInput placeholder="Type your message here..." [(ngModel)]="messageText"></textarea>
        <button class="btn btn-success" (click)="sendMessage(selectedUser._id)"><mat-icon>send</mat-icon></button>
        <button (click)="openFileInput()"  class="btn btn-danger m-2"><mat-icon>add_a_photo</mat-icon></button>
        <button (click)="picker()" class="btn btn-warning"><mat-icon> insert_emoticon</mat-icon></button>
        <input #fileInput type="file" (change)="handleFileInput($event,selectedUser._id)" accept="image/*" style="display: none">
        <emoji-mart *ngIf="pickerAppear" (emojiClick)="addEmoji($event)" [style]="{ position: 'absolute', bottom: '20px', right: '20px' }"></emoji-mart>
        
        
      </div>
      
    </div>
  </div>
  
  <div *ngIf="!selectedUser" class="chat">
    <!-- Default content when no user is selected -->
    <h1>Select a user to start chatting.</h1>
  </div>
</div>
