<div class="container bg-light rounded">
  <!-- Cover photo and oval-shaped profile photo -->
  
  <div class="row position-relative">
    <img *ngIf="user && user.coverPicture" [src]="user.coverPicture" alt="Cover Photo" id="cover" class="w-100 rounded" style="height: 100px; object-fit: cover;">
  
    <img *ngIf="user && user.profilePicture" [src]="user.profilePicture" alt="Profile Photo" class="rounded-oval position-absolute top-100 start-50 translate-middle" style="width: 120px; height: 100px; object-fit: cover;">
    
  </div>
  

  <div class="row justify-content-center mt-5">
    <div class="col-6 text-center mt-3">
      <h3 [routerLink]="['/profile']" style="cursor: pointer; display: inline-block; margin-right: 10px;">{{user?.userName}}</h3>

      
    </div>
</div>


  <div class="row justify-content-center">
    <div class="col-6">
      <p>Followers: {{user?.followers?.length}}</p>
      <p>Following: {{user?.following?.length}}</p>
    </div>
  </div>

  <div class="text-center">
    <button class="mb-3" mat-raised-button color="primary" (click)="openAddPostDialog()">Add Post</button>
    <mat-icon *ngIf="notification && notification?.length === 0" style="cursor: pointer;" (click)="openNotifications()">notifications</mat-icon>
    <mat-icon *ngIf="notification && notification!.length > 0" matBadge="{{notification?.length}}" matBadgeColor="warn" style="vertical-align: middle; cursor: pointer; margin-left: 10px;" (click)="openNotifications()">notifications</mat-icon>
</div>


</div>
