<div class="card forgot-password-box">
  <div class="card-header">
    <h4>Forgot Password</h4>
  </div>
  <div class="card-body">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="resetPassword()">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <div class="input-group">
          <input type="text" id="email" name="email" class="form-control" formControlName="email">
          <div class="mx-2">
            <button *ngIf="!otpSent" type="button" class="btn" (click)="getOtp()" [disabled]="forgotPasswordForm.get('email')?.invalid">Get OTP</button>
          </div>
        </div>
        <div *ngIf="forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.hasError('required')" class="text-danger">
          Email is required
        </div>
        <div *ngIf="forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.hasError('email')" class="text-danger">
          Enter a valid email address
        </div>
        <div *ngIf="forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.hasError('pattern')" class="text-danger">
          Enter a valid email address
        </div>
      </div>
      <div class="mb-3">
        <label for="otp" class="form-label">OTP</label>
        <input type="text" id="otp" name="otp" class="form-control" formControlName="otp">
        <div *ngIf="forgotPasswordForm.get('otp')?.touched && forgotPasswordForm.get('otp')?.hasError('required')" class="text-danger">
          OTP is required
        </div>
        <div *ngIf="forgotPasswordForm.get('otp')?.touched && forgotPasswordForm.get('otp')?.hasError('minlength')" class="text-danger">
          OTP must be at least 4 characters long
        </div>
        <div *ngIf="forgotPasswordForm.get('otp')?.touched && forgotPasswordForm.get('otp')?.hasError('maxlength')" class="text-danger">
          OTP cannot be more than 4 characters long
        </div>
      </div>
      <div class="mb-3">
        <label for="newPassword" class="form-label">New Password</label>
        <input type="password" id="newPassword" name="newPassword" class="form-control" formControlName="newPassword">
        <div *ngIf="forgotPasswordForm.get('newPassword')?.touched && forgotPasswordForm.get('newPassword')?.hasError('required')" class="text-danger">
          New Password is required
        </div>
        <div *ngIf="forgotPasswordForm.get('newPassword')?.touched && forgotPasswordForm.get('newPassword')?.hasError('minlength')" class="text-danger">
          Password must be at least 6 characters long
        </div>
        <div *ngIf="forgotPasswordForm.get('newPassword')?.touched && forgotPasswordForm.get('newPassword')?.hasError('pattern')" class="text-danger">
          Password must contain at least one uppercase letter, one lowercase letter, and one digit
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary" [disabled]="forgotPasswordForm.invalid">Submit</button>
      </div>
    </form>
  </div>
</div>
