
:host {
  @import "~ngx-toastr/toastr.css";
  background-image: url(../../../assets/images/auth-bg2.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
  color: white;
}

.signupbox {
  margin: auto;
  max-width: 400px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.273);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Text adjustments inside the login box */
.signupbox h4 {
  color: #fff; /* Change text color inside the login box to white */
  font-size: 24px; /* Adjust font size */
  margin-bottom: 20px; /* Adjust margin bottom for spacing */
}

.signupbox label {
  color: #ffffff; /* Change label text color */
}

.signupbox input {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  color: #333; /* Change text color of input fields */
}

.signupbox button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}

.signupbox button:hover {
  background-color: #0056b3;
}





