<!-- recorder.component.html -->

<mat-dialog-content>
  <div class="header">
    <h1 mat-dialog-title>Recorder</h1>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-card>
    <mat-card-content>
      <div>
        <button *ngIf="!audioBlob" mat-icon-button (click)="toggleRecording()">
          <mat-icon [ngClass]="{ 'red-icon': recording, 'primary': !recording }">{{ recording ? 'stop' : 'mic-none' }}</mat-icon>
        </button>
        <button  mat-icon-button (click)="resetRecording()" *ngIf="audioBlob">
          <mat-icon>replay</mat-icon>
        </button>
      </div>
      <p *ngIf="recording" class="text-danger font-weight-bold">Recording...</p>
      <div *ngIf="audioBlob">
        <audio *ngIf="audioUrl" [src]="audioUrl" controls></audio>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <button mat-icon-button (click)="sendRecording()" [disabled]="!audioBlob">
        <mat-icon>send</mat-icon>
      </button>
    </mat-card-footer>
  </mat-card>
</mat-dialog-content>
